H1 {
   font-family: 'Times New Roman';
   font-size: 36px;
   background: #ffffff;
   color: maroon;
   text-align: center;
}

H3 {
   font-family: arial,verdana,sans-serif;
   font-size: 20px;
   background: #ffffff;
   color: black;
   text-align: center;
}

P {
   font-family: arial,verdana,sans-serif;
   font-size: 16px;
   background: #ffffff;
   color: navy;
   text-align: center;
}
body {
	background-color: #009CAB;
	text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ul {
	display: table;
	margin: 0 auto;
}
ol {
	display: table;
	margin: 0 auto;
}
